<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
<style>
	body{
		background-image: url('/image/contact.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	</style>
<nav th:replace="layouts :: navbar"></nav>
	
	<br>
	
	<div class="container">
		<h3>Category Directory</h3>
		<hr>
		
		<!-- add new category button -->
		<a th:href="@{collections/new}"
			class="btn btn-primary btn-sm mb-3">
			Add Category
		</a>
		<br>
		<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Category Name</th>
					</tr>
				</thead>
			<tbody>
				<tr th:each="aCollection : ${collections}">
					<td th:text="${aCollection.category}"/>
				</tr>
			</tbody>
		</table>	
	</div>
</body>
</html>