<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
<style>
	body{
		background-image: url('/image/welcome.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	h3, h4, h1, h6{
		color:white;
	}
	
	td, tr{
		font-size: 140%;
	}
	
	
</style>
<nav th:replace="layouts :: navbar"></nav>
<br><br><br><br><br><br>
<h1>Welcome to My Makeup Inventory</h1>
<br><br><br>
<h3>Have you ever been at a store and wanted to get a lipstick that you loved but cannot
remember the name of the color? On this site, you can store all the information about your 
makeup. </h3>

<br><br><br><br><br><br><br><br><br><br><br>
<h6>Contact information: lavenderirons@gmail.com</h6>
<br><br><br>
</body>
</html>